# Initial data loading and checking schema

In [18]:
import pandas as pd

In [19]:
pd.__version__

'2.2.3'

In [20]:
df = pd.read_csv("yellow_tripdata_2024-09.csv", nrows=100)

In [21]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [22]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [24]:
engine.connect()

In [25]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

# Main data loading process

In [26]:
df_iter = pd.read_csv("yellow_tripdata_2024-09.csv", iterator=True, chunksize=100_000)

In [27]:
df = next(df_iter)

In [28]:
len(df)

100000

In [29]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.8,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.1,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.5,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.7,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2024-09-02 13:47:50,2024-09-02 14:24:27,1.0,16.66,2.0,N,132,164,1,70.0,0.00,0.5,20.23,6.94,1.0,102.92,2.5,1.75
99996,2,2024-09-02 13:50:24,2024-09-02 13:57:02,1.0,0.92,1.0,N,140,141,1,7.9,0.00,0.5,2.38,0.00,1.0,14.28,2.5,0.00
99997,1,2024-09-02 13:22:43,2024-09-02 13:31:40,1.0,1.80,1.0,N,164,249,1,11.4,2.50,0.5,3.00,0.00,1.0,18.40,2.5,0.00
99998,1,2024-09-02 13:34:43,2024-09-02 13:53:34,1.0,3.30,1.0,N,249,33,2,19.8,2.50,0.5,0.00,0.00,1.0,23.80,2.5,0.00
99999,1,2024-09-02 13:00:09,2024-09-02 13:11:24,4.0,2.10,1.0,N,113,230,1,13.5,2.50,0.5,2.00,0.00,1.0,19.50,2.5,0.00

In [31]:
df.head(n=0).to_sql(con=engine, name="yellow_taxi_data", if_exists="replace")

0

In [32]:
%time df.to_sql(con=engine, name="yellow_taxi_data", if_exists="append")

CPU times: user 2.93 s, sys: 66.4 ms, total: 3 s
Wall time: 5.1 s

1000

In [33]:
from time import time

In [34]:
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(con=engine, name="yellow_taxi_data", if_exists="append")
    
    t_end = time()
    
    print("inserted another chunk!")
    print(f"---took {t_end - t_start} second!")

inserted another chunk!
---took 5.25582480430603 second!
inserted another chunk!
---took 5.154741048812866 second!
inserted another chunk!
---took 5.2523839473724365 second!
inserted another chunk!
---took 5.24042272567749 second!
inserted another chunk!
---took 5.113353967666626 second!
inserted another chunk!
---took 5.129562854766846 second!
inserted another chunk!
---took 5.090911865234375 second!
inserted another chunk!
---took 5.258459091186523 second!
inserted another chunk!
---took 5.1013031005859375 second!
inserted another chunk!
---took 5.162976026535034 second!
inserted another chunk!
---took 5.458243131637573 second!
inserted another chunk!
---took 5.236464977264404 second!
inserted another chunk!
---took 5.105399131774902 second!
inserted another chunk!
---took 5.109947919845581 second!
inserted another chunk!
---took 5.202157020568848 second!
inserted another chunk!
---took 5.182326078414917 second!
inserted another chunk!
---took 5.0357630252838135 second!
inserted another chunk!
---took 5.184825897216797 second!
inserted another chunk!
---took 5.063763856887817 second!
inserted another chunk!
---took 5.114694118499756 second!
inserted another chunk!
---took 5.091341257095337 second!
inserted another chunk!
---took 5.305037021636963 second!
inserted another chunk!
---took 5.308126926422119 second!
inserted another chunk!
---took 5.320218801498413 second!
inserted another chunk!
---took 5.831244945526123 second!
inserted another chunk!
---took 5.179187059402466 second!
inserted another chunk!
---took 5.138012886047363 second!
inserted another chunk!
---took 5.12504506111145 second!
inserted another chunk!
---took 5.270470142364502 second!
inserted another chunk!
---took 5.077177047729492 second!

/var/folders/d3/h6cppr6n7db5l33rhjwv2pgh0000gn/T/ipykernel_32452/3498859331.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk!
---took 4.816897630691528 second!
inserted another chunk!
---took 4.588294982910156 second!
inserted another chunk!
---took 4.631680011749268 second!
inserted another chunk!
---took 4.693495750427246 second!
inserted another chunk!
---took 4.653248071670532 second!
inserted another chunk!
---took 1.6339471340179443 second!

StopIteration: